{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        {% do assets.addCss('theme://css/bootstrap.min.css', 103) %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 102) %}
        {% do assets.addCss('theme://css/animation.css', 101) %}
        {% do assets.addCss('theme://css/normalize.css', 100) %}
        {% do assets.addCss('theme://css/style.css', 100) %}
        {% do assets.addCss('theme://css/royalslider.css') %}
        {% do assets.addCss('theme://css/pace_theme.css') %}
        {% do assets.addCss('theme://css/toastr.min.css') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}

    

{% endblock head %}
</head>

<body class="home">
    <div id="wrapper" class="win-min-height">
        {% block header %}
        <header id="block01c" class="header block background01" data-module="Header">
            <div class="container header_block">
                <div class="row">
                    <div class="social-icon">
                        <ul>
                            <li>
                                <a class="colorWhite color01-hover03" href="https://www.facebook.com/webinstantcom/">
                                <i class="fa fa-facebook">&nbsp;</i></a>
                            </li>
                            <li>
                                <a class="colorWhite color01-hover03" href="https://twitter.com/WebInstantcom1">
                                <i class="fa fa-twitter">&nbsp;</i></a>
                            </li>
                        </ul>
                    </div>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                          <div class="navbar-header">
                          <a class="navbar-brand" href="{{ home_url }}"><img class="img-responsive" src="{{ url('theme://images/web-instant.png') }}" alt="Web-instant"></a>
                          <div class="menu-btn">
                            <button type="button" class="navbar-toggle collapsed colorWhite" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                              <strong>
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar background02"></span>
                              <span class="icon-bar background02"></span>
                              <span class="icon-bar background02"></span>
                              </strong>
                             <strong> MENU</strong>
                            </button></div>
                          </div>
                          
                          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav colorWhite">
                              <li class="active"><a class="colorWhite color01-hover03" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a></li>
                              <li><a class="colorWhite color01-hover03" href="{{ base_url }}/blog">Blog</a></li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle colorWhite color01-hover03" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
                                <ul class="dropdown-menu background01" role="menu">
                                  <li>
                                  {% if home_url == page.url %}
                                    <a class="colorWhite color01-hover03 goto" data-goto="block03e" href="#">Custom web aplication</a>
                                  {% else %}
                                    <a class="colorWhite color01-hover03" href="{{ base_url }}/#block03e">Custom web aplication</a>
                                  {% endif %}
                                  </li>
                                  <li class="divider"></li>
                                  <li>
                                  {% if home_url == page.url %}
                                    <a class="colorWhite color01-hover03 goto" data-goto="block03e" href="#">Wordpress</a>
                                  {% else %}
                                    <a class="colorWhite color01-hover03" href="{{ base_url }}/#block03e">Wordpress</a>
                                  {% endif %}
                                  </li>
                                  <li class="divider"></li>
                                  <li>
                                  {% if home_url == page.url %}
                                    <a class="colorWhite color01-hover03 goto" data-goto="block03e" href="#">Coming soon page/ Landing page</a>
                                  {% else %}
                                    <a class="colorWhite color01-hover03" href="{{ base_url }}/#block03e">Coming soon page/ Landing page</a>
                                  {% endif %}
                                  </li>
                                  <li class="divider"></li>
                                  <li>
                                  {% if home_url == page.url %}
                                    <a class="colorWhite color01-hover03 goto" data-goto="block03e" href="#">Invitation Online</a>
                                  {% else %}
                                    <a class="colorWhite color01-hover03" href="{{ base_url }}/#block03e">Invitation Online</a>
                                  {% endif %}
                                  </li>
                                  <li class="divider"></li>
                                  <li><a class="colorWhite color01-hover03" href="#"></a></li>
                                </ul>
                              </li>
                              <li>
                                {% if home_url == page.url %}
                                    <a class="colorWhite color01-hover03 goto" href="#" data-goto="block12e">Contact Us</a>
                                {% else %}
                                    <a class="colorWhite color01-hover03 goto" href="{{ home_url }}#block12e">Contact Us</a>
                                {% endif %}
                              </li>
                            </ul>
                            
                          </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        {% endblock %}
        


        {% block showcase %}{% endblock %}
        {% block feature %}{% endblock %}

        {% block body %}

        <section id="body" class="{{ class }}">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}

        {% block bottom %}

        {% endblock %}

    </div>
    {% block javascripts %}
        {% do assets.addJs('theme://js/jquery-1.11.2.min.js', 100) %}
        {% do assets.addJs('theme://js/bootstrap.min.js', 100) %}
        {% do assets.addJs('theme://js/pace.min.js', 100) %}
        {% do assets.addJs('theme://js/responsive-slider.js') %}
        {% do assets.addJs('theme://js/countUp.js') %}
        {% do assets.addJs('theme://js/touch-slide.js') %}
        {% do assets.addJs('theme://js/modernizr.js') %}
        {% do assets.addJs('theme://js/classie.js') %}
        {% do assets.addJs('theme://js/jquery.custom-scrollbar.js') %}
        {% do assets.addJs('theme://js/royalslider-min.js') %}
        {% do assets.addJs('theme://js/toastr.min.js') %}
        {% do assets.addJs('theme://js/custom.js') %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endblock %}
    {{ assets.js() }}
</body>
</html>