<footer id="block13c" class="block background02 animatedParent animateOnce" data-module="Footer">
    <div class="container">
      	<div class="row">
        	<div class="footerinner animated fadeIn slow">
            <div class="block13b1">
            <div class="holder">
              <div class="col-md-9 col-sm-9 col-xs-7 col_left">
               <nav class="navbar navbar-default">
          				<ul class="nav navbar-nav color04">
                  <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                  <li><a class="color01 color01-hover02" href="{{ base_url }}/about-us">About Us</a></li>
                  <li><a class="color01 color01-hover02" href="{{ base_url }}/blog">Blog</a></li>
                  <!--<li><a class="color01 color01-hover02" href="#">Project</a></li>-->
                  {% if base_url == page.url %}
                  <li><a id ="tes" class="color01 color01-hover02 goto" href="#" data-goto="block12e">Contact</a></li>
                  {% else %}
                  <li><a id ="tes" class="color01 color01-hover02 goto" href="{{base_url}}/#block12e" data-goto="block12e">Contact</a></li>
                  {% endif %}
                  <li><a class="color01 color01-hover02" href="{{ base_url }}/services">Services</a></li>
                  </ul>
                </nav>
              </div>
            <div class="col-md-3 col-sm-3 col-xs-5 col_right">
			<div class="social-icon">
        <ul>
        	
            <li class="col-xs-4"><a class="color01 color01-hover01" href="https://twitter.com/WebInstantcom1"><i class="fa fa-twitter">&nbsp;</i></a></li>
            <li class="col-xs-4"><a class="color01 color01-hover01" href="https://www.facebook.com/webinstantcom/"><i class="fa fa-facebook">&nbsp;</i></a></li>
            
        </ul>
		
        </div>
            </div>
            </div>
            <div class="footer_logo col-md-12">
            <a class="navbar-brand" href="#"><img class="img-responsive" src="{{ url('theme://images/web-instant.png') }}" alt="Web-instant.com"></a>
            <span class="color01">© web-instant.com</span>
            </div>
            </div>
            </div>
        </div>
      
      </div>
  </footer>